/* styles.css */

.garamond {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sure the section takes the full height of the viewport */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%; /* Ensure the header takes the full width */
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.pa2 {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  flex: 1; /* Take remaining vertical space */
}

.navy {
  padding: 10px;
}

.settings-button {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position below the settings button */
  right: 0; /* Align to the right */
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1; /* Ensure it's above other content */
}

.settings-button:hover .dropdown-menu {
  display: block;
}

img {
  position: absolute; /* Position the image absolutely */
  bottom: 50%; /* Move the image to the center vertically */
  left: 50%; /* Center the image horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100%; /* Take full height of parent (.garamond) */
}

/* SearchPage.js */
/* (No changes needed) */

/* Card.css */
.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s;
  height: 50px; /* Initial height */
}

.card:hover {
  background-color: #f0f0f0;
}

.expanded {
  height: 150px; /* Adjust the desired expanded height */
}
