/* styles.css */

/* Assuming "client/public/fonts/" is the correct path to your font files */

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 400; /* Assuming Regular weight is Roman */
  src: url("../../client/public/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 400;
  src: url("../../client/public/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 700; /* Assuming Bold weight is Bold */
  src: url("../../client/public/fonts/NeueHaasDisplayBold.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 700;
  src: url("../../client/public/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
}

body {
  font-family: "Neue Haas Grotesk", sans-serif;
}

.garamond {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.pa2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navy {
  padding: 10px;
}

.settings-button {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.settings-button:hover .dropdown-menu {
  display: block;
}

img {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* SearchPage.js */
/* (No changes needed) */

/* Card.css */
.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s;
  height: 50px;
}

.card:hover {
  background-color: #f0f0f0;
}

.expanded {
  height: 150px;
}
