/* Assuming "client/public/fonts/" is the correct path to your font files */

@font-face {
    font-family: "Neue Haas Grotesk";
    font-style: normal;
    font-weight: 400; /* Assuming Regular weight is Roman */
    src: url("../../../client/public/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Neue Haas Grotesk";
    font-style: italic;
    font-weight: 400;
    src: url("../../../client/public/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Neue Haas Grotesk";
    font-style: normal;
    font-weight: 700; /* Assuming Bold weight is Bold */
    src: url("../../../client/public/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Neue Haas Grotesk";
    font-style: italic;
    font-weight: 700;
    src: url("../../../client/public/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
  }
  
  .head {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1000px;
    height: 50px;
  }
  
  .head h1 {
    font-family: "Neue Haas Grotesk", sans-serif;
    margin: 0;
  }
  
  .logo {
    position: relative;
    top: 25px;
    padding: 25px 30px 0px 30px;
  }
  
  .search {
    width: 575px;
    height: 35px;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 20px;
    top: 13px;
    border: solid #ebebeb 1px;
    border-radius: 23px;
    display: inline-block;
  }
  
  .search:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }
  
  input[name="srch_fld"] {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 100;
    line-height: 34px;
    width: 522px;
    height: 34px;
    border: none;
    background-color: transparent;
    font-family: "Neue Haas Grotesk", sans-serif;
  }
  
  input[name="srch_fld"]:focus {
    outline: none;
  }
  
  .search #mic {
    padding-top: 10px;
    width: 24px;
    padding-left: 18px;
  }
  
  .search #mag {
    width: 24px;
    padding-left: 13px;
    padding-bottom: 1px;
  }
  
  .options,
  .right_opts {
    font-family: "Neue Haas Grotesk", sans-serif;
  }
  
  /* Rest of your styles remain unchanged */
  